/*Estilo Cabeçario*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
}

.sobre {
    color: greenyellow;
    text-align: center;
}

h1 hr {
    margin-top: 5px; /* Espaço acima do <hr> */
    margin-bottom: 20px; /* Espaço abaixo do <hr>, antes dos parágrafos */
    width: 50%;
    margin: 10px auto;
    border-color: greenyellow;
}

p {
    color: white;
    text-align: center;
}

body {
    background-color: black;
    height: 100;

}
/*Limita a largura da página e centraliza o conteúdo horizontalmente.*/
.interface {
    max-width: 1280px;
    margin: 0 auto
}

/*Estilo Cabeçario*/
/*Alinhando e distribuindo*/
header > .interface {
    display: flex;
    align-items: center; /*Alinha os itens verticalmente ao centro dentro do .interface*/
    justify-content: space-between;
}

/*Cor do link*/
header a{
    color: gray;
    text-decoration: none;
    display: inline-block; /*Vai continuar tendo as propriedades do inline e adiciona a propriedade block*/
    transition: .20s; /*retirando corte seco*/
}

header a:hover{
    color: white;
    transform: scale(1.2);
}

/* removendo marcadores*/
header nav ul{
    list-style: none;
}

/* colocoando os itens lado a lado e criando espaçamento entre eles*/
header nav ul li {
    display: inline-block;
    padding: 0px 40px;
}
